name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
          - "3.15"
        django-version:
          - "4.2"
          - "5.0"
          - "5.1"
          - "5.2"
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version}}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version}}

      - name: Upgrade pip version and install poetry
        run: python -m pip install -U pip && pip install poetry && poetry install

      - name: Upgrade django version
        run: poetry add "Django~=${{ matrix.django-version }}.0"

      - name: Python and Django versions
        run: |
          echo "Python ${{ matrix.python-version }} -> Django ${{ matrix.django-version }}"
          python --version
          echo "Django: `poetry run django-admin --version`"
          ls -larth

      - name: Run tests
        run: make test


